body {
  background: rgb(0,0,0);
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(48,54,111,1) 53%, rgba(0,0,0,0.8708275546546744) 100%);;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
/* Hero Section Styles */
.hero {
    color: #fff;
    text-align: center;
    padding: 100px 15px;
    display: flex;
    /* align-items: center;  */
   /* Align content vertically */
   justify-content: space-between; /* Add space between text and image */
    
  }
.hero1{
  max-width: 50%;
}
.hero2{
  max-width: 50%;
  float:right;
}
.hero img{
  float: inline-end;
  width: 45%;
  margin:auto;
}
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .Primary-btn111{
    background-color: #0036c0;
    color: #ffffff;
    margin: 10px;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid white;
    /* box-shadow:2px 2px 6px rgb(255, 255, 255); */
  }
  .secondry-btn111{
    background-color: transparent;
    color: #ffffff;
    margin: 10px;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid white;
    /* box-shadow:2px 2px 6px rgb(255, 255, 255); */
  }
  
  .Primary-btn111:hover {
    background-color: transparent;
    color: #fff;
    transform: translateY(-5px);
    transition-duration: .5s;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); */
    
  }
  .secondry-btn111:hover{
    background-color:#0036c0 ;
    color: #fff;
    transform: translateY(-5px);
    transition-duration: .5s;
  }
 
  
  #tag{
  color:rgb(161, 22, 1);
  }
 
#title{
  color: rgb(0, 152, 38);
}
h1 {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}
.hero h1{
  color:white;
} 
